@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");

.container {
  background-color: #38a169;
  color: white;
  height: 80vh;
  height: calc(var(--vh, 1vh) * 80);
  font-size: 5.8vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-family: "Gotu", sans-serif;
  flex-wrap: wrap;
}

.profile {
  position: relative;
  display: flex;
  align-items: center;
}

.modalButton {
  background-color: black;
  color: white;
  font-family: "Gotu", sans-serif;
}

.modal {
  background-color: #38a169;
  height: 10vh;
  height: calc(var(--vh, 1vh) * 10);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gotu", sans-serif;
  color: white;
}

.modalText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
}

@media only screen and (max-width: 600px) {
  .container {
    font-size: 5vh;
  }
}
