@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");

.navContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  background-color: #38a169;
  color: white;
  font-family: "Gotu", sans-serif;
  height: 10vh;
  font-size: 1rem;
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  font-size: 3.5vw;
  border-radius: 5px;
  height: 80%;
}

.menuButton:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.navButtons {
  background-color: rgb(0, 0, 0);
  margin-bottom: 5px;
  font-size: 2rem;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-size: 2rem;
  font-family: "Gotu", sans-serif;
}

.about:hover {
  cursor: pointer;
  background-color: rgb(42, 41, 41);
}

.portfolio:hover {
  cursor: pointer;
  background-color: rgb(42, 41, 41);
}

.contact:hover {
  cursor: pointer;
  background-color: rgb(42, 41, 41);
}

.arianMenu {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .menuButton {
    font-size: 4vh;
    width: 30%;
  }
}
